*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color : #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    /* height: 64px; */
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    /* text-align: center; */
    
}
.header{
    background: #FFF8F3;
    /* position: absolute; */
    /* margin-top: 200px; */
    /* display: block; */
    padding-top: 1px ;
    background-image: url('/images/header_bg.png'),url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right ,left ;

}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style : none;
    margin-left:50px ;

}

/* Header Banner Style */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-size: 50px;
    padding:5px 0px ;
    font-weight: 700;
    margin-bottom: 20px;

}
.banner-sub-title{
    font-weight: 500;
    font-size: 32px;
    padding: 2px;
    
}
.banner-description{
    color: #757575;
    margin-bottom: 20px;
}

/* About section */
.main{
    margin:130px 180px ;
    /* max-width: 1140px;
    margin: 0 auto; */
    /* text-align: center; */
}
.about{
    padding: 100px 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.section-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;

}

.section-description{
    text-align: center;
    font-size: 12px;
    color: #757575;

}

/* About info style */
.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    margin:30px 10px ;    
}

.info-title{
    color: #757575;
}

.info-description{
    font-weight: 600;
    font-size: 15px;
}

/* What i Do */
.what-i-do-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 120px;
}
.what-i-do-description{
    text-align: center;
    font-size: 12px;
    color: #757575;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
    /* text-align: center; */
}

.skills-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.skills{
    /* display: flex; */
    background-color: whitesmoke;
    width: 180px;
    padding: 15px;
    border-radius: 10px;
}
.skills img{
    align-items: flex-end;
    /* position: left; */
    /* align-self: left; */
    align-items: left;
    margin: 10px;
    /* background-color: #FFFFFF; */
    
}
.skill-title{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;

}
.skill-description{
    font-size: 15px;
    color: #757575;
}

/* Resume Section style */
/* .resume-section{

} */
.resume-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 120px;
}
.resume-container{
    display: flex;
    text-align: left;
    /* justify-content: space-between; */
    /* padding: 100px; */
}
.resume-box{
    border-bottom: 1px solid #c0bebe ;
    margin: 15px;
    border-radius: 2px;
}
.resume-info-title{
    font-size: 25px;
    font-weight: 500;
    margin: 40px 0;
}
.resume-sub-title{
    font-weight: 650;
    font-size: 18px;

}
.resume-super-sub-title{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 14px;
}
.resume-description{
    font-size: 12px ;
    margin-bottom: 10px;
    color: #ccc8c8;
}

.resume-button-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* height: 100vh */
}

.resume-download-btn{
    background-color : #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    /* height: 64px; */
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
    /* text-align: center; */
}
/* Contact Section  */

.contact-section{
    display: flex;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.connect-sec{
    margin: 20px;
    padding: 10px;
    width: 50%;
}
.connect-sec a{
    text-decoration: none;
    margin: 10px;
}
.connect-para{
    color: #c2c0c0;
    margin: 20px ;
}
.lets-sec{
    width: 50%;
    margin: 20px;
    
}
.contact-title{
    font-size: 28px;
    margin: 20px;

}
.lets-sec input[type="text"] , input[type="email"] , textarea{
    display: block;
    margin: 10px;
    padding: 10px;
    border: 0;
    width: 60% ;
    /* margin-bottom: 10px; */
}
.lets-sec input[type="submit"]{
    margin: 10px;
    padding: 10px;

}